:root {
  --primary-color: #033233;
  --primary-font: "Cabin", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: none;
  font-family: var(--primary-font);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  width: 100vw;
  height: 16vh;
  z-index: 10;
  background: #fff;
}

nav a {
  text-decoration: none;
  cursor: none;
}

nav h1 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 3rem;
}

nav .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .nav-items a {
  cursor: none;
  font-family: var(--primary-font);
  text-decoration: none;
  padding-left: 3rem;
  color: var(--primary-color);
}

#canvas-overlay {
  position: absolute;
  background-color: rgba(3, 50, 51, 0.9);
  top: 45vh;
  left: 31%;
  color: #fff;
  font-size: 3rem;
  padding: 1rem 5rem;
  border-radius: 0.3rem;
}

/* Cursor */
.cursor {
  width: 40px;
  height: 40px;
  /* border: 2px solid #fff; */
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 3s infinite alternate;
  pointer-events: none;
  z-index: 20;
  backdrop-filter: invert(100%);
}

.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 3s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  /* border: 1px solid var(--primary-color); */
}

/* About */
#about-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  font-weight: 400;
  padding: 0rem 10rem 0rem 10rem;
  text-align: center;
}

#about-container h2 {
  margin-bottom: 3rem;
}

.about-time {
  opacity: 1;
}

.bs-add {
  box-shadow: -3px 5px 3px -4px rgba(0, 0, 0, 0.31);
}

.sticky-nav {
  position: sticky;
  top: 0;
  left: 0;
}

/* Serviços */
#services-container {
  height: 100vh;
  width: 100vw;
  padding-top: 16vh;
}

#services-container #services-bg {
  height: 60vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#services-container #services-bg img {
  width: 100% !important;
  height: auto !important;
  position: absolute;
  margin: auto;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
}

#services-card {
  display: flex;
  flex-direction: row;
  height: 72vh;
  margin-top: -48vh;
  justify-content: space-around;
  padding: 0 7rem;
}

.card {
  height: 25rem;
  width: 20rem;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.card h3 {
  color: var(--primary-color);
  font-weight: bold;
}

.card div:nth-child(2) img {
  width: 9rem;
  height: auto;
}

.card div:nth-child(3) p {
  font-family: var(--secondary-font);
}

/* Contact Us */
#contact-container {
  height: 100vh;
  width: 100vw;
  padding-top: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-form {
  width: 70vw;
  height: 70vh;
  padding: 0 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 3fr 2fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

#form-title {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
}

#contact-form input {
  height: 45%;
  width: 95%;
  border: var(--primary-color) 2px solid;
  font-family: var(--secondary-font);
  padding: 0 1rem;
  cursor: none;
}

#form-mensagem {
  grid-column: span 2;
  width: 98%;
  height: 100%;
  resize: none;
  border: var(--primary-color) 2px solid;
  font-family: var(--secondary-font);
  padding: 1rem;
  cursor: none;
}

#contact-submit-btn {
  grid-column: span 2;
  background: #fff;
  border: var(--primary-color) 2px solid;
  padding: 0.8rem 5rem;
  border-radius: 1rem;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 0.9rem;
  cursor: none;
}

/* Encontre-nos */

#find-container {
  height: 100vh;
  width: 100vw;
  padding-top: 16vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 87% 13%;
}

#contact-info {
  background: var(--primary-color);
}

#footer {
  grid-column: span 2;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
}
